<div class="hero">
  <br />
  <div class="frosty col-10 mx-auto text-center">
    <br />
    <h1>Learn Magic</h1>
    <br />
    <h2>I'm an illusionist</h2>
    <br />
    <%= link_to 'Learn More', "#", class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>